
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Hotel Room Booking System</title>
    <!-- Include Bootstrap CSS link here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mt-2">About Us</h2>

                <h3>Our Mission</h3>
                <p>
                    Our mission is to provide a seamless and convenient hotel booking experience for travelers around the world. We are dedicated to offering a wide range of hotel options and ensuring customer satisfaction at every step.
                </p>

                <h3>Why Choose Us?</h3>
                <p>
                    <ul>
                        <li>Extensive Hotel Selection: We offer a vast selection of hotels to suit every traveler's needs and preferences.</li>
                        <li>Easy Booking Process: Our user-friendly platform makes booking a hotel room quick and hassle-free.</li>
                        <li>Competitive Prices: We provide competitive prices and exclusive deals to save you money on your bookings.</li>
                        <li>Secure Transactions: Your privacy and security are important to us. We use the latest security measures to protect your information.</li>
                        <li>Customer Support: Our dedicated customer support team is available to assist you 24/7.</li>
                    </ul>
                </p>

                <h3>Contact Us</h3>
                <p>
                    If you have any questions, feedback, or inquiries, please don't hesitate to contact us. We are here to assist you and provide you with exceptional service. You can reach us via email at <a href="mailto:contact@hotelroombookingsystem.com">contact@hotelroombookingsystem.com</a> or through our <a href="/Home/ContactUs">contact form</a>.
                </p>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap and jQuery scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

