@model IEnumerable<HotelRoomBookingSystem.Models.Rooms>

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@{
    string userEmail = Session["Email"].ToString();
}

<h4>Welcome @userEmail</h4>




