.body-bg {
    background-color: #f7f7f7;
}

.login-container {
    margin-top: 50px;
}

.login-form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the login form */
}

.login-heading {
    color: #333; /* Header text color */
    font-weight: 600; 
    text-align: center;
}

.login-input {
    border: 1px solid #ccc; /* Border for form inputs */
    border-radius: 3px;
    padding: 10px; 
    margin-bottom: 20px;
    width: 100%; 
}

.login-btn-primary {
    background-color: #007bff;
    border-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 3px;
    display: block; 
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

    .login-btn-primary:hover {
        background-color: #0056b3; 
        border-color: #0056b3; 
    }

.login-link {
    color: #007bff;
    text-decoration: none; 
    cursor: pointer;
}

    .login-link:hover {
        text-decoration: underline; /* Underline links on hover */
    }
